global:
  domain: devnet.verana.network
  host: test-faucet-vs

nameOverride: 'verana-faucet-hologram'

vs-agent-chart:
  enabled: true
  name: 'verana-faucet-hologram-vsa'
  didcommLabel: Verana Faucet (Demo)
  eventsBaseUrl: http://verana-faucet-hologram-chatbot-backend:2903
  didcommInvitationImageUrl: https://q.{{ .Values.global.host }}.{{ .Values.global.domain }}/avatar.png
  adminPort: 4000
  ingress:
    host: '{{ .Values.global.host }}.{{ .Values.global.domain }}'
    tlsSecret: 'public.{{ .Values.global.host }}.{{ .Values.global.domain }}-cert'
  database:
    enabled: false
  redis:
    enabled: false
  storage:
    size: 1Gi
    storageClassName: csi-cinder-classic
  extraEnv:
    - name: AGENT_WALLET_ID
      value: 'verana-test-faucet-wallet'
    - name: AGENT_WALLET_KEY
      value: 'verana-test-faucet-wallet-d2iwuoge8u2'
    - name: AGENT_LOG_LEVEL
      value: "3"
    - name: USE_CORS
      value: "true"
    - name: SELF_ISSUED_VTC_ORG_TYPE
      value: "PRIVATE"
    - name: SELF_ISSUED_VTC_ORG_COUNTRYCODE
      value: "EE"
    - name: SELF_ISSUED_VTC_ORG_ADDRESS
      value: "Ahtri tn 13 10152 Tallinn"
    - name: SELF_ISSUED_VTC_SERVICE_TYPE
      value: "Verana Faucet (Demo)"
    - name: SELF_ISSUED_VTC_SERVICE_DESCRIPTION
      value: "A demo Verana Faucet chatbot issuing self-attested verifiable credentials."
    - name: SELF_ISSUED_VTC_SERVICE_MINIMUMAGEREQUIRED
      value: "1"


postgres:
  enabled: true
  port: 5432
  image:
    pullPolicy: Always
  env:
    - name: PGDATA
      value: '/var/lib/postgresql/data/pgdata'
    - name: POSTGRES_USER
      value: 'verana'
    - name: POSTGRES_DB
      value: 'verana'
  secret:
    password: 'postgres-password'
  resources:
    requests:
      cpu: '200m'
      memory: '256Mi'
    limits:
      cpu: '1000m'
      memory: '1024Mi'
  storage:
    size: 1Gi
    storageClassName: 'csi-cinder-classic'
  service:
    type: ClusterIP

datastore:
  enabled: true
  replicaCount: 1
  image:
    pullPolicy: Always
  env:
    - name: DEBUG
      value: '1'
    - name: QUARKUS_HTTP_PORT
      value: '2904'
    - name: IO_TWENTYSIXTY_DATASTORE_TMP_DIR
      value: '/home/data/tmp'
    - name: IO_TWENTYSIXTY_DATASTORE_TMP_LIFETIMEDAYS
      value: '5'
    - name: IO_TWENTYSIXTY_DATASTORE_REPO_LIFETIMEDAYS
      value: '43800'
    - name: IO_TWENTYSIXTY_DATASTORE_REPO_FS_DIR
      value: '/home/data/repo'
    - name: IO_TWENTYSIXTY_DATASTORE_MEDIA_MAXCHUNKS
      value: '128'
  secret: {}
  resources:
    requests:
      cpu: '100m'
      memory: '256Mi'
    limits:
      cpu: '500m'
      memory: '512Mi'
  service:
    type: ClusterIP
    port: 2904
  storage:
    size: 1Gi
    storageClassName: 'csi-cinder-classic'

chatbotBackend:
  enabled: true
  replicaCount: 1
  image:
    repository: veranalabs/verana-faucet-hologram-chatbot
    tag: main
    pullPolicy: Always
  env:
    - name: DEBUG
      value: '1'
    - name: QUARKUS_HTTP_PORT
      value: '2903'
    - name: QUARKUS_DATASOURCE_USERNAME
      value: 'verana'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_VISION_REDIRDOMAIN
      value: '{{ .Values.global.host }}.{{ .Values.global.domain }}'
    - name: IO_TWENTYSIXTY_SA_RES_C_MESSAGERESOURCE_MP_REST_URL
      value: 'http://{{ .Values.nameOverride }}-vsa:4000'
    - name: IO_TWENTYSIXTY_SA_RES_C_CREDENTIALTYPERESOURCE_MP_REST_URL
      value: 'http://{{ .Values.nameOverride }}-vsa:4000'
    - name: IO_VERANA_FAUCET_HOLOGRAM_CHATBOT_RES_C_MEDIARESOURCE_MP_REST_URL
      value: 'http://{{ include "chatbot.fullname" . }}-datastore:{{ .Values.datastore.service.port }}'
    - name: IO_VERANA_FAUCET_HOLOGRAM_CHATBOT_RES_C_FAUCETRESOURCE_MP_REST_URL
      value: 'http://{{ include "chatbot.fullname" . }}-faucet-app:{{ .Values.faucetApp.service.port }}'
    - name: QUARKUS_SWAGGER_UI_ALWAYS_INCLUDE
      value: '1'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_VISION_FACE_VERIFICATION_URL
      value: 'https://m.vision.2060.io/face/verification/?token=TOKEN'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_LANGUAGE
      value: 'en'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_CREDENTIAL_ISSUER
      value: 'did:web:avatar.demos.2060.io'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_CREDENTIAL_ISSUER_AVATAR
      value: 'https://i.avatar.demos.2060.io/avatar.jpg'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_CREDENTIAL_ISSUER_LABEL
      value: 'AvatarID'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_ID_CREDENTIAL_DEF
      value: 'did:web:avatar.demos.2060.io?service=anoncreds&relativeRef=/credDef/CfwLzNitet6352BenXKHj3FJpoNRvpTxcKcScFM8vH47'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_MESSAGES_WELCOME
      value: 'Write /to <verana address> to receive tokens, ie /to verana1vpgfweigfuyqgfgwqf78t4rgfkfwkhfkgWrite /to <verana address> to receive tokens, ie /to verana1vpgfweigfuyqgfgwqf78t4rgfkfwkhfkg.'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_REQUEST_CITIZENID
      value: '0'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_REQUEST_FIRSTNAME
      value: '0'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_REQUEST_LASTNAME
      value: '0'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_REQUEST_PHOTO
      value: '0'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_REQUEST_AVATARNAME
      value: '1'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_MESSAGES_NOCRED
      value: 'If you do not have an AvatarID (required to authenticate yourself), get one by connecting to below service.'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_MESSAGES_ROOT_MENU_TITLE
      value: 'AvatarID Authentication'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_MESSAGES_ROOT_MENU_OPTION1
      value: 'Help'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_MESSAGES_ROOT_MENU_NO_CRED
      value: 'Get your AvatarID'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_JMS_MO_QUEUE_NAME
      value: 'testnet-verana-faucet-hologram-chatbot-mo'
    - name: IO_TWENTYSIXTY_DEMOS_AUTH_JMS_MT_QUEUE_NAME
      value: 'testnet-verana-faucet-hologram-chatbot-mt'
    - name: QUARKUS_ARTEMIS_URL
      value: 'tcp://artemis-broker-hdls-svc.activemq-artemis-operator:61616'
  secret:
    QUARKUS_ARTEMIS_PASSWORD: 'example-artemis-password'
  resources:
    requests:
      cpu: '200m'
      memory: '256Mi'
    limits:
      cpu: '1000m'
      memory: '1024Mi'
  service:
    type: ClusterIP
    port: 2903
  ingress:
    enabled: true
    className: nginx
    host: 'q.{{ .Values.global.host }}.{{ .Values.global.domain }}'
    tlsSecret: 'public.{{ .Values.global.host }}.{{ .Values.global.domain }}-cert'
    path: /avatar.png

faucetApp:
  enabled: true
  replicaCount: 1
  image:
    pullPolicy: Always
  env:
    - name: PORT
      value: '3000'
    - name: RPC_ENDPOINT
      value: 'http://node1.testnet.verana.network:26657/'
    - name: DENOM
      value: 'uvna'
    - name: CHAIN_PREFIX
      value: 'verana'
    - name: AMOUNT
      value: '50000'
  secret:
    FAUCET_MNEMONIC: 'example-faucet-mnemonic'
  resources:
    requests:
      cpu: '100m'
      memory: '128Mi'
    limits:
      cpu: '500m'
      memory: '512Mi'
  service:
    type: ClusterIP
    port: 3000
