name: Continuous Deployment

on:
  push:
    branches: [main, "release/**"]

permissions:
  id-token: write
  contents: write
  issues: write
  pull-requests: write

env:
  IMAGE_NAME: verana-faucet-hologram-chatbot

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
      major: ${{ steps.release.outputs.major }}
      minor: ${{ steps.release.outputs.minor }}
    steps:
      - name: Release PR
        id: release
        uses: googleapis/release-please-action@v4
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
          token: ${{ secrets.GITHUB_TOKEN }}

  docker:
    needs: release-please
    if: ${{ needs.release-please.outputs.releases_created == 'true' }}
    runs-on: ubuntu-latest

    env:
      QUARKUS_CONTAINER_IMAGE_USERNAME: ${{ secrets.DOCKER_HUB_LOGIN }}
      QUARKUS_CONTAINER_IMAGE_PASSWORD: ${{ secrets.DOCKER_HUB_PWD }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: maven

      - name: Build & push ${{ env.IMAGE_NAME }} stable release tags (Quarkus)
        shell: bash
        run: |
          set -euo pipefail

          ./mvnw -B package -DskipTests \
            -Dquarkus.container-image.build=true \
            -Dquarkus.container-image.push=true \
            -Dquarkus.container-image.image="${{ secrets.DOCKER_HUB_LOGIN }}/${IMAGE_NAME}" \
            -Dquarkus.container-image.tag="${IMAGE_TAG}" \
            -Dquarkus.container-image.additional-tags="v${{ needs.release-please.outputs.major }},v${{needs.release-please.outputs.major}}.${{needs.release-please.outputs.minor}},${{ needs.release-please.outputs.tag_name }}"

  helm:
    needs: [release-please, docker]
    if: ${{ needs.release-please.outputs.releases_created == 'true' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_LOGIN }}
          password: ${{ secrets.DOCKER_HUB_PWD }}

      - name: Push Helm chart to Docker Hub OCI repo
        shell: bash
        run: |
          set -euo pipefail
          TAGS=(
            "lastest"
            "${{ needs.release-please.outputs.tag_name }}"
          )

          CHART_NAME=$(grep '^name:' ./charts/Chart.yaml | awk '{print $2}')

          for tag in "${TAGS[@]}"; do
            helm dependency update ./charts
            helm package ./charts --version $tag -d ./charts
            helm push "./charts/${CHART_NAME}-${tag}.tgz" "oci://docker.io/${{ secrets.DOCKER_HUB_LOGIN }}"
          done
